<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <span class="logo">MyApp</span>
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    </div>

    <ul class="menu">
        <li><a href="#">🏠 Dashboard</a></li>
        <li><a href="{% url 'members:member_list' %}">👥 Members</a></li>
        <li><a href="{% url 'members:add_attendance' %}">📅 Attendance</a></li>
        <li><a href="{% url 'members:announcements_dashboard' %}">📢 Announcements</a></li>
        <li><a href="{% url 'members:reports' %}">📊 Reports</a></li>
        <li><a href="{% url 'members:finance_dashboard' %}">💰 Finance</a></li>
        <li><a href="{% url 'members:secretary_settings' %}">⚙ Settings</a></li>
    </ul>
     <br>





    <h3>Secretary Dashboard</h3>
<p>Welcome, {{ user.username }}!</p>
</aside>
